$fbBlue: #036;
$fbBlueLight: #004c99;
$fbBrightBlue: #337AB7;
$fbLinkBlue: #4e95d9;
$sectionGreen: #699;
$sectionGreenLight: #85adad;
$sectionLightGreen: #ADC9C8;
$sectionLightGreenLight: #cdd;

$text: #333;