@use "fonts";

#gene_tool_kit {


  #gene-toolkit-section-wrapper {
    margin: 15px;
    width: fit-content;

    p {
      font-family: fonts.$main;
      font-size: 14px;
      width: 0;
      min-width: 100%;
    }


  }

}

