@use "colors";
@use "fonts";

.geneToolKitMostCommonlyUsedTable {
  border-collapse: collapse;
  max-width: 100%;

  * {
    font-family: fonts.$main;
  }

  thead {
    background-color: colors.$sectionGreen;

    tr th {
      text-align: left;
      color: white;
    }
  }

  tbody {
    .gene-toolkit-category-header {
      background-color: colors.$sectionLightGreen;
      font-weight: bold;
    }

    // TODO: remove or replace
    tr:last-child td { vertical-align: top; }

    .gene-toolkit-subcategory-row {

      td {
        padding: 0;
      }

      .gene-toolkit-subcategory-category {

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px 20px 3px 7px;

        span {
          padding-right: 25px;
        }

        button {
          background-color: colors.$fbBrightBlue;
          border: 2px solid colors.$fbBlueLight;
          border-radius: 10px;
          color: white;
          padding: 3px 13px;
          font-size: 16px;
          white-space: nowrap;

          &:hover {
            cursor: pointer;
            background-color: colors.$fbBlueLight;
          }
        }
      }

      .gene-toolkit-subcategory-common-allele {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 7px;

        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          width: 100%;


          display: flex;
          flex-direction: column;

          li {
            margin: 0;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 7px 0 0 0;

            &:first-child {
              padding-top: 0;
            }

            a {
              color: colors.$fbLinkBlue;
              font-weight: bold;
              text-decoration: none;

              &:first-child {
                padding-right: 5px;
                //padding-right: 25px;

                // This is redundant for report pages, since the normalize.less styles are the same
                // included for local development
                sup, up {
                  vertical-align: baseline;
                  font-size: 75%;
                  position: relative;
                  line-height: 0;
                  top: -.5em;
                }
              }
            }
          }
        }



        svg {
          height: 20px;
          width: 20px;
          transform: scale(2.35);
        }

      }

    }
  }

  th, td {
    border: 1px solid black;
    padding: 7px;
  }
}