
.interactive-table {
  max-width: 100%;
  width: fit-content;
  font-family: "clear_sansregular",sans-serif;

  sup, up {
    vertical-align: baseline;
    font-size: 75%;
    position: relative;
    line-height: 0;
    top: -.5em;
  }

  .main-toolbar {
    width: calc(100% - 30px);
    border-top: 2px solid rgb(221, 221, 221);
    border-bottom: 2px solid rgb(221, 221, 221);
    padding: 5px 15px;
    background-color: rgb(204, 198, 174);
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .export-show-hide-options {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      white-space: nowrap;
      flex: 1;

      .hidden-columns {
        font-size: 14px;
        color: #555555;
        font-weight: normal;
        min-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        flex: 1;
        white-space: nowrap;
        width: 0;
        padding-right: 15px;
      }

      .show-hide-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 15px;

        li {
          display: flex;
          flex-direction: column;

          label {
            display: flex;
            cursor: pointer;
          }

          .parent-column {
            margin-bottom: 5px;
          }

          .child-columns {
            list-style: none;
            padding: 0 0 0 15px;
            display: flex;
            flex-direction: column;
            gap: 2px;

            li {
              display: flex;
            }

          }
        }


      }
    }

    .pagination-options {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;
    }

    .button-bar {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      border-radius: 8px;
      width: fit-content;
      border: 1px solid black;

      li {
        border-left: 1px solid #5bc0de;

        &:first-child {
          border: none;
        }
      }

      button {
        height: 30px;
        width: 30px;
        border: none;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
          fill: #5bc0de;
          height: 10px;
        }

        &:enabled:hover {
          background-color: darken(white, 10%);
        }

        &:disabled {
          svg {
            fill: rgb(51, 51, 51);
          }
          cursor: not-allowed;
          background-color: darken(white, 10%);
        }
      }

      .radio-button {
        height: 30px;
        min-width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        color: #5bc0de;
        cursor: pointer;
        padding: 0 5px;
        white-space: nowrap;

        &:not(:has(input:checked)):hover {
          background-color: darken(white, 10%);
        }

        &:has(input:checked) {
          background-color: #5bc0de;
          color: white;
        }

        input {
          visibility: hidden;
          margin: 0;
          padding: 0;
          height: 0;
          width: 0;
        }
      }
    }
  }

  .table-wrapper {
    overflow-x: scroll;
    width: 100%;

    table {
      border-spacing: 0;

      thead {
        tr {

          th {
            border-top: 2px solid rgb(221, 221, 221);
            padding: 5px 15px;
            background-color: rgb(204, 198, 174);
            //background-color: rgb(210, 215, 220);
            color: rgb(51, 51, 51);
            font-weight: 700;
            font-size: 15px;

            > svg {
              height: 15px;
              padding: 0 3px;
              margin-bottom: -2px;
            }

            svg.up-down-arrow-icon {
              height: 0;
            }

            &:hover svg.up-down-arrow-icon {
              height: 15px;
            }

            div.multi-text-input {
              form {
                min-width: 70px;

                input {
                  width: 0;
                }
              }
            }
          }
        }
        tr.group-header:first-child th {
          border: 1px solid rgb(221, 221, 221);
        }

        tr:last-child th {
          border-top: none;
        }
      }

      tbody {
        tr {
          td {
            padding: 5px 15px;
            border-top: 1px solid rgb(221, 221, 221);
          }
        }

        tr.first-of-group td {
          border-top: 1px solid rgb(133, 133, 133);
        }

        tr.first-of-group:first-child td {
          border-top: none;
        }
      }
    }
  }

}