@use "colors";
@use "fonts";

.report-section-header {
  width: calc(100% + 30px);
  font-family: fonts.$main;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid black;
  margin: 0 -15px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 14px;

  &.collapsible {
    cursor: pointer;
    padding-left: 0.5em;
  }

  h2, h3, h4 {
    margin: 0;
    padding-left: 4px;
    line-height: 20px;
    font-size: 14px;
  }

  &.level-1 {
    background-color: colors.$fbBlue;

    &.collapsible:hover {
      background-color: colors.$fbBlueLight;
    }

    h2 {
      color: white;
      font-weight: bold;
    }
  }

  &.level-2 {
    background-color: colors.$sectionGreen;

    &.collapsible:hover {
      background-color: colors.$sectionGreenLight;
    }

    h3 {
      color: colors.$text;
      font-weight: bold;
    }
  }

  &.level-3 {
    background-color: colors.$sectionLightGreen;

    &.collapsible:hover {
      background-color: colors.$sectionLightGreenLight;
    }

    h4 {
      color: colors.$text;
      font-weight: normal;
    }
  }

  .fa.fa-plus-square, .fa.fa-minus-square {
    color: white;
    background: black;
    margin: 0 .5em;
  }
}