
.section-content {
  width: calc(100% + 30px);
  margin: 0 -15px;
  overflow-y: hidden;
  height: auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

.ribbon-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 6em;
  padding-bottom: 4em;
  flex-wrap: wrap;
}